Unifying the dataset from Trade_inn

In [2]:
import pandas as pd
import re

In [3]:
basketball_items = pd.read_csv('basketball.csv')
basketball_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13835/138357411/spa...,spalding slam dunk basketball ball,equipment,balls,12.99
1,https://www.tradeinn.com/h/13835/138357390/spa...,spalding max grip basketball ball,equipment,balls,38.99
2,https://www.tradeinn.com/h/13837/138377737/nik...,nike everyday playground 8p next nature deflat...,equipment,balls,21.99
3,https://www.tradeinn.com/h/13893/138936721/skl...,sklz pro mini hoop swish foam ball,equipment,balls,7.99
4,https://www.tradeinn.com/h/13837/138377738/nik...,nike everyday playground 8p next nature deflat...,equipment,balls,21.49
...,...,...,...,...,...
900,https://www.tradeinn.com/h/13780/137808250/hum...,hummel go cotton logo short sleeve t-shirt,clothing,adult,12.99
901,https://www.tradeinn.com/h/13841/138410088/err...,errea smith t-shirt,clothing,adult,22.21
902,https://www.tradeinn.com/h/13841/138413304/err...,errea cody short pants,clothing,adult,27.18
903,https://www.tradeinn.com/h/13841/138412198/err...,errea chasuble alison t-shirt,clothing,adult,25.07
904,https://www.tradeinn.com/h/13841/138412352/err...,errea jersey heat 3.0,clothing,adult,32.69

In [4]:
basketball_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
basketball_items.rename(columns={'image': 'image_src'}, inplace=True)
basketball_items.rename(columns={'description': 'title'}, inplace=True)

In [5]:
basketball_items['collection'].value_counts()

adult    593
balls    290
kid       22
Name: collection, dtype: int64

In [6]:
basketball_items['category'].value_counts()

clothing     368
equipment    290
shoes        247
Name: category, dtype: int64

In [40]:
basketball_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 905 entries, 0 to 904
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           905 non-null    object
 1   title               905 non-null    object
 2   category            905 non-null    object
 3   collection          905 non-null    object
 4   suggested_price(€)  905 non-null    float64
dtypes: float64(1), object(4)
memory usage: 35.5+ KB

In [41]:
basketball_items.to_csv('basketball_items.csv')

In [7]:
bike_items = pd.read_csv('bike.csv')
bike_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13911/139114161/toi...,toimsa bikes spiderman huffy 14´´ bike,bike,kid,126.99
1,https://www.tradeinn.com/h/13911/139114057/toi...,toimsa bikes blue ice 16´´ bike,bike,kid,109.99
2,https://www.tradeinn.com/h/13911/139114134/toi...,toimsa bikes rider bike 14´´ fantasy,bike,kid,108.99
3,https://www.tradeinn.com/h/13978/139784630/toi...,toimsa bikes paw patrol 16´´ bike,bike,kid,136.99
4,https://www.tradeinn.com/h/13911/139114162/toi...,toimsa bikes spiderman huffy 16´´ bike,bike,kid,148.99
...,...,...,...,...,...
1969,https://www.tradeinn.com/h/13829/138291556/cas...,castelli go 15 socks,clothing,adult,16.95
1970,https://www.tradeinn.com/h/13844/138441927/cas...,castelli climbers 3.0 short sleeve jersey,clothing,adult,99.95
1971,https://www.tradeinn.com/h/13753/137537618/cas...,castelli pro thermal,clothing,adult,11.99
1972,https://www.tradeinn.com/h/13829/138291531/cas...,castelli emergency 2 rain jacket,clothing,adult,128.99
1973,https://www.tradeinn.com/h/13638/136384115/cas...,castelli core mesh 3 base layer,clothing,adult,36.99

In [8]:
bike_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
bike_items.rename(columns={'image': 'image_src'}, inplace=True)
bike_items.rename(columns={'description': 'title'}, inplace=True)

In [39]:
bike_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1974 entries, 0 to 1973
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           1974 non-null   object
 1   title               1974 non-null   object
 2   category            1974 non-null   object
 3   collection          1974 non-null   object
 4   suggested_price(€)  1974 non-null   float64
dtypes: float64(1), object(4)
memory usage: 77.2+ KB

In [42]:
bike_items.to_csv('bike_items.csv')

In [9]:
football_items = pd.read_csv('football.csv')
football_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13992/139925435/adi...,adidas real madrid 23/24 short sleeve t-shirt ...,equipment,adult,101.49
1,https://www.tradeinn.com/h/13992/139925460/adi...,adidas real madrid 23/24 woman short sleeve t-...,equipment,adult,101.49
2,https://www.tradeinn.com/h/13992/139925439/adi...,adidas real madrid 23/24 shorts home,equipment,adult,45.99
3,https://www.tradeinn.com/h/13992/139925440/adi...,adidas real madrid 23/24 shorts home,equipment,adult,39.99
4,https://www.tradeinn.com/h/13992/139927702/adi...,adidas real madrid 23/24 set home,equipment,adult,111.49
...,...,...,...,...,...
2418,https://www.tradeinn.com/h/13944/139444159/hua...,huari nagren tf football boots,shoes,kid,41.99
2419,https://www.tradeinn.com/h/13944/139444161/hua...,huari nagren tf junior football boots,shoes,kid,40.99
2420,https://www.tradeinn.com/h/13944/139444160/hua...,huari nagren tf football boots,shoes,kid,42.49
2421,https://www.tradeinn.com/h/13936/139368805/hua...,huari octubri football boots,shoes,kid,38.99
2422,https://www.tradeinn.com/h/13936/139368820/hua...,huari recoleti junior tf football boots,shoes,kid,35.00

In [10]:
football_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
football_items.rename(columns={'image': 'image_src'}, inplace=True)
football_items.rename(columns={'description': 'title'}, inplace=True)

In [38]:
football_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2423 entries, 0 to 2422
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           2423 non-null   object
 1   title               2423 non-null   object
 2   category            2423 non-null   object
 3   collection          2423 non-null   object
 4   suggested_price(€)  2423 non-null   float64
dtypes: float64(1), object(4)
memory usage: 94.8+ KB

In [43]:
football_items.to_csv('football_items.csv')

In [11]:
kids_items = pd.read_csv('kids.csv')
kids_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13637/136375417/van...,vans old skool trainers,equipment,kid,37.99
1,https://www.tradeinn.com/h/13896/138960920/adi...,adidas grand court 2.0 shoes kids,equipment,kid,26.99
2,https://www.tradeinn.com/h/13842/138426741/adi...,adidas hoops mid 3.0 trainers kid,equipment,kid,33.99
3,https://www.tradeinn.com/h/13842/138426738/adi...,adidas hoops mid 3.0 trainers kid,equipment,kid,29.49
4,https://www.tradeinn.com/h/13842/138426737/adi...,adidas hoops mid 3.0 trainers kid,equipment,kid,33.99
...,...,...,...,...,...
4815,https://www.tradeinn.com/h/13999/139997291/for...,force xv victoire jacket,clothing,kid,27.99
4816,https://www.tradeinn.com/h/13999/139997283/for...,force xv victoire jacket,clothing,kid,27.99
4817,https://www.tradeinn.com/h/14033/140336177/leo...,leone apparel gold boy hoodie tracksuit full zip,clothing,kid,50.49
4818,https://www.tradeinn.com/h/13999/139997287/for...,force xv victoire jacket,clothing,kid,27.99
4819,https://www.tradeinn.com/h/13955/139550566/tec...,tecnifibre team tracksuit pants,clothing,kid,44.99

In [12]:
kids_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
kids_items.rename(columns={'image': 'image_src'}, inplace=True)
kids_items.rename(columns={'description': 'title'}, inplace=True)

In [37]:
kids_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4820 entries, 0 to 4819
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           4820 non-null   object
 1   title               4820 non-null   object
 2   category            4820 non-null   object
 3   collection          4820 non-null   object
 4   suggested_price(€)  4820 non-null   float64
dtypes: float64(1), object(4)
memory usage: 188.4+ KB

In [44]:
kids_items.to_csv('kids_items.csv')

In [14]:
padel_items = pd.read_csv('padel.csv')
padel_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/14045/140459970/sta...,star vie triton padel racket,equipment,padel,232.49
1,https://www.tradeinn.com/h/13795/137951941/hea...,head flash padel racket,equipment,padel,99.00
2,https://www.tradeinn.com/h/13849/138491272/hea...,head graphene tornado plus padel racket,equipment,padel,200.00
3,https://www.tradeinn.com/h/13969/139698507/4on...,4on total grip spray 200ml,equipment,padel,22.99
4,https://www.tradeinn.com/h/13926/139261723/hea...,head revolt padel racket,equipment,padel,51.49
...,...,...,...,...,...
1984,https://www.tradeinn.com/h/13884/138847565/k-s...,k-swiss court express hb clay shoes,shoes,woman,85.00
1985,https://www.tradeinn.com/h/13853/138534143/mun...,munich padx all court shoes,shoes,woman,85.60
1986,https://www.tradeinn.com/h/13940/139401282/mun...,munich oxygen all court shoes,shoes,woman,66.99
1987,https://www.tradeinn.com/h/13940/139401285/mun...,munich oxygen all court shoes,shoes,woman,66.99
1988,https://www.tradeinn.com/h/13862/138625897/sal...,salming rebel all court shoes,shoes,woman,63.99

In [15]:
padel_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
padel_items.rename(columns={'image': 'image_src'}, inplace=True)
padel_items.rename(columns={'description': 'title'}, inplace=True)

In [36]:
padel_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           1989 non-null   object
 1   title               1989 non-null   object
 2   category            1989 non-null   object
 3   collection          1989 non-null   object
 4   suggested_price(€)  1989 non-null   float64
dtypes: float64(1), object(4)
memory usage: 77.8+ KB

In [45]:
padel_items.to_csv('pedo_items.csv')

In [16]:
running_items = pd.read_csv('running.csv')
running_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13855/138552287/nik...,nike revolution 6 nn running shoes,shoes,man,49.49
1,https://www.tradeinn.com/h/14003/140033883/sal...,salomon xa pro 3d v9 goretex trail running shoes,shoes,man,123.99
2,https://www.tradeinn.com/h/13993/139934827/adi...,adidas duramo sl running shoes,shoes,man,37.99
3,https://www.tradeinn.com/h/13944/139448735/sal...,salomon sense ride 5 trail running shoes,shoes,man,94.99
4,https://www.tradeinn.com/h/13883/138838893/nik...,nike air zoom pegasus 39 running shoes,shoes,man,96.00
...,...,...,...,...,...
7448,https://www.tradeinn.com/h/13777/137776902/sam...,samsung galaxy 3 bluetooth watch,equipment,watches,288.31
7449,https://www.tradeinn.com/h/13776/137769950/sam...,samsung galaxy watch 3 lte,equipment,watches,383.08
7450,https://www.tradeinn.com/h/13974/139740777/for...,forever grand sw-700 smartwatch,equipment,watches,69.00
7451,https://www.tradeinn.com/h/14038/140383149/hua...,huawei watch ultimate expedition smartwatch,equipment,watches,713.99
7452,https://www.tradeinn.com/h/13777/137776904/sam...,samsung galaxy 3 lte watch,equipment,watches,496.49

In [17]:
running_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
running_items.rename(columns={'image': 'image_src'}, inplace=True)
running_items.rename(columns={'description': 'title'}, inplace=True)

In [35]:
running_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7453 entries, 0 to 7452
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           7453 non-null   object
 1   title               7453 non-null   object
 2   category            7453 non-null   object
 3   collection          7453 non-null   object
 4   suggested_price(€)  7453 non-null   float64
dtypes: float64(1), object(4)
memory usage: 291.3+ KB

In [46]:
running_items.to_csv('running_items.csv')

In [18]:
surf_items =pd.read_csv('surf.csv')
surf_items

,image,description,category,price
0,https://www.tradeinn.com/h/13876/138767487/cbc...,cbc wood 39.5´´ skimboard,equipment,45.99
1,https://www.tradeinn.com/h/13805/138055082/moa...,moana mini 30´´ bodyboard,equipment,20.99
2,https://www.tradeinn.com/h/13876/138767539/rip...,rip bois 7 ply 37´´ skimboard,equipment,28.99
3,https://www.tradeinn.com/h/13876/138767540/rip...,rip bois ply 39´´ skimboard,equipment,30.99
4,https://www.tradeinn.com/h/13805/138055086/moa...,moana ombak 41´´ bodyboard,equipment,32.99
...,...,...,...,...
595,https://www.tradeinn.com/h/13974/139747382/dew...,dewey weber swish 5´6´´ surfboard,equipment,608.99
596,https://www.tradeinn.com/h/13974/139747386/dew...,dewey weber swish 5´9´´ surfboard,equipment,645.99
597,https://www.tradeinn.com/h/13974/139747388/dew...,dewey weber swish 6´0´´ surfboard,equipment,635.99
598,https://www.tradeinn.com/h/13974/139747389/dew...,dewey weber swish 6´0´´ surfboard,equipment,635.99
599,https://www.tradeinn.com/h/13812/138125119/moa...,moana one with leash 42´´ bodyboard,equipment,56.99

In [19]:
surf_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
surf_items.rename(columns={'image': 'image_src'}, inplace=True)
surf_items.rename(columns={'description': 'title'}, inplace=True)

In [34]:
surf_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           600 non-null    object
 1   title               600 non-null    object
 2   category            600 non-null    object
 3   suggested_price(€)  600 non-null    float64
dtypes: float64(1), object(3)
memory usage: 18.9+ KB

In [47]:
surf_items.to_csv('surf_items.csv')

In [20]:
swim_items= pd.read_csv('swim.csv')
swim_items

,image,description,category,colection,price
0,https://www.tradeinn.com/h/13756/137568221/sof...,softee polyester swimming cap,equipment,accesories,0.99
1,https://www.tradeinn.com/h/13733/137332340/are...,arena cobra ultra swipe mirror swimming goggles,equipment,accesories,53.99
2,https://www.tradeinn.com/h/13959/139594445/spe...,speedo fastskin pure focus mirror swimming gog...,equipment,accesories,55.99
3,https://www.tradeinn.com/h/13792/137927462/spe...,speedo fastskin hyper elite swimming goggles,equipment,accesories,38.99
4,https://www.tradeinn.com/h/13689/136892744/are...,arena the one swimming goggles,equipment,accesories,15.99
...,...,...,...,...,...
5309,https://www.tradeinn.com/h/13615/136157754/swi...,swimgo training by inma bañegil swimsuit,swimwerar,kid,27.49
5310,https://www.tradeinn.com/h/13615/136157758/swi...,swimgo training by inma bañegil swimsuit,swimwerar,kid,26.99
5311,https://www.tradeinn.com/h/13810/138105476/rog...,rogelli florida sleeveless trisuit,swimwerar,kid,43.49
5312,https://www.tradeinn.com/h/13615/136157756/swi...,swimgo training by inma bañegil swimsuit,swimwerar,kid,18.99
5313,https://www.tradeinn.com/h/13615/136157752/swi...,swimgo team basic training swimsuit,swimwerar,kid,20.99

In [21]:
swim_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
swim_items.rename(columns={'image': 'image_src'}, inplace=True)
swim_items.rename(columns={'description': 'title'}, inplace=True)

In [33]:
swim_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5314 entries, 0 to 5313
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           5314 non-null   object
 1   title               5314 non-null   object
 2   category            5314 non-null   object
 3   colection           5314 non-null   object
 4   suggested_price(€)  5314 non-null   float64
dtypes: float64(1), object(4)
memory usage: 207.7+ KB

In [48]:
swim_items.to_csv('swim_items.csv')

In [22]:
tennis_items = pd.read_csv('tennis.csv')
tennis_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13914/139146578/wil...,wilson blade 101l v8 tennis racket,equipment,tennis,81.99
1,https://www.tradeinn.com/h/13776/137762395/bab...,babolat pure drive 26 tennis racket,equipment,tennis,76.99
2,https://www.tradeinn.com/h/13776/137762363/bab...,babolat pure drive unstrung tennis racket,equipment,tennis,175.99
3,https://www.tradeinn.com/h/13776/137762394/bab...,babolat pure drive 25 tennis racket,equipment,tennis,77.99
4,https://www.tradeinn.com/h/13776/137762367/bab...,babolat pure drive lite unstrung tennis racket,equipment,tennis,154.49
...,...,...,...,...,...
4804,https://www.tradeinn.com/h/13976/139765435/dia...,diadora finale clay shoes,shoes,woman,83.49
4805,https://www.tradeinn.com/h/13935/139355657/lot...,lotto speedride 600 x shoes,shoes,woman,26.49
4806,https://www.tradeinn.com/h/13935/139355681/lot...,lotto superrapida 400 iii shoes,shoes,woman,39.99
4807,https://www.tradeinn.com/h/13869/138693163/kel...,kelme new betta 2 all court shoes,shoes,woman,33.49
4808,https://www.tradeinn.com/h/13869/138693162/kel...,kelme new betta 2 all court shoes,shoes,woman,31.99

In [23]:
tennis_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
tennis_items.rename(columns={'image': 'image_src'}, inplace=True)
tennis_items.rename(columns={'description': 'title'}, inplace=True)

In [32]:
tennis_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           4809 non-null   object
 1   title               4809 non-null   object
 2   category            4809 non-null   object
 3   collection          4809 non-null   object
 4   suggested_price(€)  4809 non-null   float64
dtypes: float64(1), object(4)
memory usage: 188.0+ KB

In [49]:
tennis_items.to_csv('tennis_items.csv')

In [24]:
training_items = pd.read_csv('training.csv')
training_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/13771/137712412/adi...,adidas originals 3 units face mask,clothing,man,8.99
1,https://www.tradeinn.com/h/13794/137942946/adi...,adidas 4 stripes 3 units face mask,clothing,man,11.49
2,https://www.tradeinn.com/h/13785/137858413/adi...,adidas logo 3 units face mask,clothing,man,5.99
3,https://www.tradeinn.com/h/13771/137712413/adi...,adidas originals 3 units face mask,clothing,man,8.99
4,https://www.tradeinn.com/h/13733/137330940/miz...,mizuno super short socks 3 pairs,clothing,man,6.99
...,...,...,...,...,...
4665,https://www.tradeinn.com/h/14047/140477103/inn...,innovagoods fitow non slip mat,equipment,fitness,17.99
4666,https://www.tradeinn.com/h/14047/140477214/inn...,innovagoods stretching resistance band,equipment,fitness,20.49
4667,https://www.tradeinn.com/h/13943/139431939/oko...,oko fitness balance board,equipment,fitness,21.99
4668,https://www.tradeinn.com/h/13943/139431944/oko...,oko fitness resistance bands set,equipment,fitness,10.99
4669,https://www.tradeinn.com/h/14047/140477201/inn...,innovagoods set resistance band 5 units,equipment,fitness,17.99

In [25]:
training_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
training_items.rename(columns={'image': 'image_src'}, inplace=True)
training_items.rename(columns={'description': 'title'}, inplace=True)

In [31]:
training_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4670 entries, 0 to 4669
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           4670 non-null   object
 1   title               4670 non-null   object
 2   category            4670 non-null   object
 3   collection          4670 non-null   object
 4   suggested_price(€)  4670 non-null   float64
dtypes: float64(1), object(4)
memory usage: 182.6+ KB

In [50]:
training_items.to_csv('training_items.csv')

In [26]:
treking_items = pd.read_csv('treking.csv')
treking_items

,image,description,category,collection,price
0,https://www.tradeinn.com/h/14037/140370833/app...,apple watch ultra 2 gps+cellular loop alpine 4...,equipment,gps,998.99
1,https://www.tradeinn.com/h/13945/139458006/sam...,samsung galaxy watch 5 pro 4g 45 mm smartwatch,equipment,watch,412.99
2,https://www.tradeinn.com/h/14037/140371252/app...,apple watch series 9 gps+cellular sport 45 mm,equipment,gps,635.49
3,https://www.tradeinn.com/h/13721/137216707/gar...,garmin etrex 32x gps,equipment,gps,201.99
4,https://www.tradeinn.com/h/13715/137159617/gar...,garmin forerunner 45s watch,equipment,watch,101.99
...,...,...,...,...,...
5983,https://www.tradeinn.com/h/13896/138961563/adi...,adidas terrex soulstride trail running shoes,shoes,woman,60.99
5984,https://www.tradeinn.com/h/13842/138429414/adi...,adidas terrex two flow trail running shoes,shoes,woman,58.49
5985,https://www.tradeinn.com/h/13791/137918722/sal...,salomon reelax moc 5.0 sandals,shoes,woman,47.99
5986,https://www.tradeinn.com/h/13944/139448852/sal...,salomon x-ward leather goretex hiking shoes,shoes,woman,103.99
5987,https://www.tradeinn.com/h/13944/139448748/sal...,salomon supercross 4 goretex trail running shoes,shoes,woman,106.49

In [27]:
treking_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
treking_items.rename(columns={'image': 'image_src'}, inplace=True)
treking_items.rename(columns={'description': 'title'}, inplace=True)

In [30]:
treking_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5988 entries, 0 to 5987
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   image_src           5988 non-null   object
 1   title               5988 non-null   object
 2   category            5988 non-null   object
 3   collection          5988 non-null   object
 4   suggested_price(€)  5988 non-null   float64
dtypes: float64(1), object(4)
memory usage: 234.0+ KB

In [51]:
treking_items.to_csv('treking_items.csv')

In [52]:
book_items = pd.read_csv('all_bestsellers.csv')
book_items

,Category,Image,Title,Author,Price
0,Art and Design,https://blackwells.co.uk//jacket/200x200/97818...,David Hockney - Normandy Portra...,"David Hockney, Natio...",22.15
1,Art and Design,https://blackwells.co.uk//jacket/200x200/97817...,The Rolling Stones,Acc Art Books Ltd (C...,63.87
2,Art and Design,https://blackwells.co.uk//jacket/200x200/97813...,The Intersection of Fashion and...,Kate Annett-Hitchcock,26.85
3,Art and Design,https://blackwells.co.uk//jacket/200x200/97807...,Urban Watercolor Sketching,Felix Scheinberger,21.03
4,Art and Design,https://blackwells.co.uk//jacket/200x200/97810...,Experiencing Accents,Philip Thompson (aut...,38.37
...,...,...,...,...,...
535,Travel,https://blackwells.co.uk//jacket/200x200/97800...,Bangkok Days,Lawrence Osborne,15.15
536,Travel,https://blackwells.co.uk//jacket/200x200/97816...,Pirate Women,Laura Sook Duncombe,20.26
537,Travel,https://blackwells.co.uk//jacket/200x200/97806...,Britain's Birds,"Rob Hume, Rob Still,...",25.36
538,Travel,https://blackwells.co.uk//jacket/200x200/97819...,Lost Lanes Central England,Jack Thurston,19.92
539,Travel,https://blackwells.co.uk//jacket/200x200/97817...,Summer,Karl Ove Knausgård (...,15.43

In [53]:
book_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  540 non-null    object
 1   Image     540 non-null    object
 2   Title     540 non-null    object
 3   Author    538 non-null    object
 4   Price     540 non-null    float64
dtypes: float64(1), object(4)
memory usage: 21.2+ KB

In [54]:
book_items.rename(columns={'price': 'suggested_price(€)'}, inplace=True)
book_items.rename(columns={'image': 'image_src'}, inplace=True)
book_items.rename(columns={'description': 'title'}, inplace=True)
book_items.rename(columns={'Category': 'category'}, inplace=True)
book_items.rename(columns={'Author': 'author'}, inplace=True)

In [55]:
book_items.to_csv('book_items.csv')