In [2]:
import pandas as pd
import re

In [4]:
ps_games = pd.read_csv('Outputfirst_PSSEO_803cee19-e5a1-4d59-a463-0b6b2701bf7c_2022-07-22.csv')
ps_games

,name,platforms,original_price,discounted_price,discount,product_type,rank_in_sale,sale_name,date_recorded
0,LEGO® Star Wars™:The Skywalker Saga Deluxe Edi...,"['PS4', 'PS5']",£59.99,£44.99,-25%,PREMIUM_EDITION,1,WM_EU_DEALS,2022-07-22 00:00:00+00:00
1,WWE 2K22 for PS4™,['PS4'],£59.99,£32.99,-45%,FULL_GAME,2,WM_EU_DEALS,2022-07-22 00:00:00+00:00
2,WWE 2K22 for PS5™,['PS5'],£64.99,£38.99,-40%,FULL_GAME,3,WM_EU_DEALS,2022-07-22 00:00:00+00:00
3,Call of Duty®: Vanguard - Cross-Gen Bundle,"['PS4', 'PS5']",£69.99,£34.99,-50%,PREMIUM_EDITION,4,WM_EU_DEALS,2022-07-22 00:00:00+00:00
4,God of War™,['PS4'],£15.99,£7.99,-50%,FULL_GAME,5,WM_EU_DEALS,2022-07-22 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...
995,Harvest Life,['PS5'],£24.99,£17.49,-30%,FULL_GAME,996,WM_EU_DEALS,2022-07-22 00:00:00+00:00
996,Conan Exiles - The Imperial East Pack,['PS4'],£7.99,£5.99,-25%,OTHER,997,WM_EU_DEALS,2022-07-22 00:00:00+00:00
997,Tannenberg,"['PS4', 'PS5']",£15.99,£3.99,-75%,FULL_GAME,998,WM_EU_DEALS,2022-07-22 00:00:00+00:00
998,Manual Samuel,['PS4'],£7.99,£0.79,-90%,FULL_GAME,999,WM_EU_DEALS,2022-07-22 00:00:00+00:00
999,The Lord of the Rings: Adventure Card Game Def...,['PS4'],£15.99,£7.99,-50%,FULL_GAME,1000,WM_EU_DEALS,2022-07-22 00:00:00+00:00

In [5]:
ps_games.drop(columns = ['discounted_price', 'discount', 'product_type', 'sale_name', 'date_recorded'], inplace = True)

In [6]:
ps_games

,name,platforms,original_price,rank_in_sale
0,LEGO® Star Wars™:The Skywalker Saga Deluxe Edi...,"['PS4', 'PS5']",£59.99,1
1,WWE 2K22 for PS4™,['PS4'],£59.99,2
2,WWE 2K22 for PS5™,['PS5'],£64.99,3
3,Call of Duty®: Vanguard - Cross-Gen Bundle,"['PS4', 'PS5']",£69.99,4
4,God of War™,['PS4'],£15.99,5
...,...,...,...,...
995,Harvest Life,['PS5'],£24.99,996
996,Conan Exiles - The Imperial East Pack,['PS4'],£7.99,997
997,Tannenberg,"['PS4', 'PS5']",£15.99,998
998,Manual Samuel,['PS4'],£7.99,999
999,The Lord of the Rings: Adventure Card Game Def...,['PS4'],£15.99,1000

In [9]:
ps_games.set_index('rank_in_sale').reset_index()

,rank_in_sale,name,platforms,original_price
0,1,LEGO® Star Wars™:The Skywalker Saga Deluxe Edi...,"['PS4', 'PS5']",£59.99
1,2,WWE 2K22 for PS4™,['PS4'],£59.99
2,3,WWE 2K22 for PS5™,['PS5'],£64.99
3,4,Call of Duty®: Vanguard - Cross-Gen Bundle,"['PS4', 'PS5']",£69.99
4,5,God of War™,['PS4'],£15.99
...,...,...,...,...
995,996,Harvest Life,['PS5'],£24.99
996,997,Conan Exiles - The Imperial East Pack,['PS4'],£7.99
997,998,Tannenberg,"['PS4', 'PS5']",£15.99
998,999,Manual Samuel,['PS4'],£7.99
999,1000,The Lord of the Rings: Adventure Card Game Def...,['PS4'],£15.99

In [10]:
ps_games.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            1000 non-null   object
 1   platforms       1000 non-null   object
 2   original_price  1000 non-null   object
 3   rank_in_sale    1000 non-null   int64
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [13]:
# According to the currency exchange rate on 05/12/2023, the rate is one pound equals to 1.17 Euro
# Therefore we exchange the pound into euro
# First we remove the currency mark
ps_games['original_price'] = ps_games['original_price'].replace('[^\d.]', '', regex=True)

In [15]:
ps_games['original_price'] = pd.to_numeric(ps_games['original_price'], errors='coerce')

In [16]:
# create a new column with the euro
ps_games['suggested_price(€)'] = [price*1.17 for price in ps_games['original_price']]

In [17]:
ps_games

,name,platforms,original_price,rank_in_sale,suggested_price(€)
0,LEGO® Star Wars™:The Skywalker Saga Deluxe Edi...,"['PS4', 'PS5']",59.99,1,70.1883
1,WWE 2K22 for PS4™,['PS4'],59.99,2,70.1883
2,WWE 2K22 for PS5™,['PS5'],64.99,3,76.0383
3,Call of Duty®: Vanguard - Cross-Gen Bundle,"['PS4', 'PS5']",69.99,4,81.8883
4,God of War™,['PS4'],15.99,5,18.7083
...,...,...,...,...,...
995,Harvest Life,['PS5'],24.99,996,29.2383
996,Conan Exiles - The Imperial East Pack,['PS4'],7.99,997,9.3483
997,Tannenberg,"['PS4', 'PS5']",15.99,998,18.7083
998,Manual Samuel,['PS4'],7.99,999,9.3483
999,The Lord of the Rings: Adventure Card Game Def...,['PS4'],15.99,1000,18.7083

In [20]:
ps_games.rename(columns={'name': 'title'}, inplace = True)

In [19]:
ps_games.drop(columns = ['platforms', 'original_price'], inplace= True)

,name,rank_in_sale,suggested_price(€)
0,LEGO® Star Wars™:The Skywalker Saga Deluxe Edi...,1,70.1883
1,WWE 2K22 for PS4™,2,70.1883
2,WWE 2K22 for PS5™,3,76.0383
3,Call of Duty®: Vanguard - Cross-Gen Bundle,4,81.8883
4,God of War™,5,18.7083
...,...,...,...
995,Harvest Life,996,29.2383
996,Conan Exiles - The Imperial East Pack,997,9.3483
997,Tannenberg,998,18.7083
998,Manual Samuel,999,9.3483
999,The Lord of the Rings: Adventure Card Game Def...,1000,18.7083

In [21]:
ps_games

,title,rank_in_sale,suggested_price(€)
0,LEGO® Star Wars™:The Skywalker Saga Deluxe Edi...,1,70.1883
1,WWE 2K22 for PS4™,2,70.1883
2,WWE 2K22 for PS5™,3,76.0383
3,Call of Duty®: Vanguard - Cross-Gen Bundle,4,81.8883
4,God of War™,5,18.7083
...,...,...,...
995,Harvest Life,996,29.2383
996,Conan Exiles - The Imperial East Pack,997,9.3483
997,Tannenberg,998,18.7083
998,Manual Samuel,999,9.3483
999,The Lord of the Rings: Adventure Card Game Def...,1000,18.7083

In [22]:
ps_games.to_csv('playstation4_games.csv')